<!--
  Generated template for the Popcoverpage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>
   <ion-list inset>
    <ion-list-header>Filter</ion-list-header>

    <ion-item *ngFor="let filter of filters" [attr.filter]="filter.name | lowercase">
      <span item-left class="dot"></span>
      <ion-label>{{filter.name}}</ion-label>
      <ion-toggle [(ngModel)]="filter.isChecked" color="red"></ion-toggle>
    </ion-item>

  </ion-list>
</ion-content>
