page-adsdetail {
   ion-card p {
  font-size: 0.7em !important;
}

button[fab].fab-map {
  top: calc(100% - 35px);
  z-index: 50;
}
.fab{
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
}

.item-bold {
  font-weight: bold;
}

ion-content.cards-bg {
  background-color: #f4f4f7;
}

}
