page-login {    
    .error-box {
    padding: 6px;
    font-size: 14px;
    font-style: normal;
    border-radius: 3px;
    color:red;
}
    .required:after{
        content:"*";
        padding-left:2px;
        color: red; 
    }
}
