<!--
  Generated template for the Login page.
  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<ion-title>login</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<form [formGroup]="logForm">
		<ion-list>				

		<ion-item>
			<ion-label stacked class="required">Username or Email</ion-label>
			<ion-input formControlName="email" type="email" autofocus></ion-input>
		</ion-item>
            <div *ngIf="email.hasError('required') && email.touched" class="error-box" danger>* Email is required!</div>
			<div *ngIf="email.hasError('minlength') && email.touched" class="error-box">* Minimum email length is 3!</div>
	
		<ion-item>		
				<ion-label stacked class="required">Password</ion-label>
				<ion-input formControlName="password" type="password"></ion-input>
			</ion-item>
			<div *ngIf="password.hasError('required') && password.touched" class="error-box" danger>* Password is required!</div>
			<div *ngIf="password.hasError('minlength') && password.touched" class="error-box">* Minimum Password length is 8!</div>
           
		</ion-list>

		<button (click)="login()" ion-button color="primary" [disabled]="!logForm.valid" block>Sign In</button>

	</form>
</ion-content>