<!--
  Generated template for the ViewAds page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>viewAds</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-list>
  <ion-item *ngFor="let ad of ads">
    {{ad.title}}
  </ion-item>
</ion-list>
</ion-content>
