<!--
  Generated template for the ViewAds page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>viewAds</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-list>
  <ion-item *ngFor="let ad of ads">
   <ion-card>
    <img [src]="ad.photos" *ngIf="ad.photos"  style="height:350px;"/>
    <ion-fab right top color="primary">
    <button ion-fab>
      <ion-icon name="pin"></ion-icon>
    </button>
    </ion-fab>
    <ion-card-content>
      <h2 class="card-title">
        {{ad.title}}
      </h2>
      <p>
        {{ad.description}}
      </p>
    </ion-card-content>

    <ion-item>
      <ion-icon name='musical-notes' style="color: #d03e84"></ion-icon>
      Units Avaialable
      <ion-badge item-right>{{ad.units_available}}</ion-badge>
    </ion-item>

    <ion-item>
      <ion-icon name='logo-twitter' style="color: #55acee"></ion-icon>
      Published date: 
      <ion-badge item-right>{{ad.postDate}}</ion-badge>
    </ion-item>
    <ion-item>
      <ion-icon name='logo-twitter' style="color: #55acee"></ion-icon>
      Dimensions
      <ion-badge item-right>{{ad.length}}<span>{{ad.scale}}</span><span>*</span>{{ad.width}}<span>*</span>{{ad.height}}<span>*</span>
      </ion-badge>
    </ion-item>

  </ion-card>
  </ion-item>
</ion-list>
</ion-content>
