<!--
  Generated template for the AddAds page.
  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header>

  <ion-navbar>
    <ion-title>Post Your Advertisements Here</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-header>
  <ion-navbar hideBackButton="true">
    <button ion-button menuToggle style="font-size:90px;">
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>Post Your Ads</ion-title>
    <ion-buttons end>
      <button ion-button (click)="openMenu()">
        <ion-icon name="camera"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <form [formGroup]="adsForm">
  <ion-list>
    <ion-item>
      <ion-label class="required">Type</ion-label>
      <ion-select formControlName="type">
        <ion-option value="Newspaper">Newspaper</ion-option>
        <ion-option value="TV">TV</ion-option>
        <ion-option value="Hoarding">Hoarding</ion-option>
        <ion-option value="Vehicle">Vehicle</ion-option>
        <ion-option value="Radio">Radio</ion-option>
        <ion-option value="Web">Web</ion-option>
        <ion-option value="App">App</ion-option>
      </ion-select>
    </ion-item> 
    <div *ngIf="!adsForm.controls['type'].valid && adsForm.controls['type'].touched">        
        <span *ngIf="adsForm.controls['type'].hasError('required')" class="error-message"> Type is Required</span>
    </div>
    

    <ion-item>
      <ion-label class="required"></ion-label>
      
      <ion-input placeholder="Title" formControlName="title" name="title"></ion-input>
    </ion-item>      
    <div *ngIf="!adsForm.controls['title'].valid && adsForm.controls['title'].touched">        
        <span *ngIf="adsForm.controls['title'].hasError('required')" class="error-message"> Title is Required</span>
    </div>
    
    <ion-item>
      <ion-label class="required"></ion-label>
      <ion-input placeholder="Description" formControlName="description" name="description"></ion-input>
    </ion-item>     
    <div *ngIf="!adsForm.controls['description'].valid && adsForm.controls['description'].touched">        
        <span *ngIf="adsForm.controls['description'].hasError('required')" class="error-message"> Description is Required</span>
         </div>
      
    
    <ion-item>
      <ion-label class="required"></ion-label>
      <ion-input placeholder="Units Available" formControlName="units_available" name="units_available" ></ion-input>
    </ion-item>
    <div *ngIf="!adsForm.controls['units_available'].valid && adsForm.controls['units_available'].touched">        
        <span *ngIf="adsForm.controls['units_available'].hasError('required')" class="error-message"> Units are Required</span>
       <span *ngIf="adsForm.controls['units_available'].hasError('pattern')" class="error-message">Units are Invalid</span>
    </div>
    

    <ion-item>
      <ion-label class="required">scale</ion-label>
      <ion-select formControlName="scale" name="scale">
        <ion-option value="inches">inches</ion-option>
        <ion-option value="meters">meters</ion-option>
        <ion-option value="seconds">seconds</ion-option>
      </ion-select>
    </ion-item>      
    <div *ngIf="!adsForm.controls['scale'].valid && adsForm.controls['scale'].touched">        
        <span *ngIf="adsForm.controls['scale'].hasError('required')" class="error-message"> Scale is Required</span>
    </div>
    
    
    <ion-item>
      <ion-label class="required"></ion-label>
      <ion-input placeholder="Length" formControlName="length" name="length" ></ion-input>
    </ion-item>
    <div *ngIf="!adsForm.controls['length'].valid && adsForm.controls['length'].touched">        
        <span *ngIf="adsForm.controls['length'].hasError('required')" class="error-message">Length is Required</span>
        <span *ngIf="adsForm.controls['length'].hasError('pattern')" class="error-message">Length is Invalid</span>
         </div>
    
    
    <ion-item>
      <ion-label class="required"></ion-label>
      <ion-input placeholder="Width" formControlName="width" name="width" ></ion-input>
    </ion-item>      
    <div *ngIf="!adsForm.controls['width'].valid && adsForm.controls['width'].touched">        
        <span *ngIf="adsForm.controls['width'].hasError('required')" class="error-message">Width is Required</span>
          <span *ngIf="adsForm.controls['width'].hasError('pattern')" class="error-message">Width is Invalid</span>
       
         </div>
    
    <ion-item>
      <ion-label class="required"></ion-label>
      <ion-input placeholder="Height" formControlName="height" name="height" ></ion-input>
    </ion-item>      
    <div *ngIf="!adsForm.controls['height'].valid && adsForm.controls['height'].touched">        
       <span *ngIf="adsForm.controls['height'].hasError('required')" class="error-message">Height is Required</span>
      <span *ngIf="adsForm.controls['height'].hasError('pattern')" class="error-message">Height is Invalid</span>
         </div>
    
    <ion-item>
      <ion-label class="required"></ion-label>
      <ion-input placeholder="Elevation" formControlName="elevation" name="elevation" ></ion-input>
    </ion-item>      
    <div *ngIf="!adsForm.controls['elevation'].valid && adsForm.controls['elevation'].touched">        
        <span *ngIf="adsForm.controls['elevation'].hasError('required')" class="error-message">Elevation is Required</span>
         <span *ngIf="adsForm.controls['elevation'].hasError('pattern')" class="error-message">Elevation is Invalid</span>
        
         </div>
    
    <ion-item>
      <ion-label class="required">Illuminated?</ion-label>
      <!--<ion-label><h3>Illuminated?</h3><ion-label>-->
      <ion-select formControlName="illuminated" name="illuminated">
        <ion-option value="Yes">Yes</ion-option>
        <ion-option value="No">No</ion-option>
        <ion-option value="Partially">Partially</ion-option>
      </ion-select>
    </ion-item>

<ion-item>
      <ion-label class="required">Start Date</ion-label>
      <ion-datetime #dateTime1 displayFormat="MMM DD YYYY" formControlName="start_time" name="start_time"></ion-datetime>
</ion-item>
     <div *ngIf="!adsForm.controls['start_time'].valid && adsForm.controls['start_time'].touched">        
        <span *ngIf="adsForm.controls['start_time'].hasError('required')" class="error-message"> Start Time is Required</span>
         </div>


<ion-item>
      <ion-label class="required">End Date</ion-label>
      <ion-datetime #dateTime2 displayFormat="MMM DD YYYY" formControlName="end_time" name="end_time"></ion-datetime>
</ion-item>
   <div *ngIf="!adsForm.controls['end_time'].valid && adsForm.controls['end_time'].touched">        
         <span *ngIf="adsForm.controls['end_time'].hasError('required')" class="error-message"> End Time is Required</span>
    </div>
    

   <ion-item>
     <ion-label class="required"></ion-label>
      <ion-input placeholder="Ads Duration" formControlName="ad_duration" name="ad_duration"></ion-input>
    </ion-item>
    <div *ngIf="!adsForm.controls['ad_duration'].valid && adsForm.controls['ad_duration'].touched">        
       <span *ngIf="adsForm.controls['ad_duration'].hasError('required')" class="error-message"> Ad Duration is Required</span>
       <span *ngIf="adsForm.controls['ad_duration'].hasError('pattern')" class="error-message">Ad Duration is Invalid</span> 
    </div>
  
    <ion-item>
      <ion-label class="required"></ion-label>
      <ion-input placeholder="Rate" formControlName="rate" name="rate"></ion-input>
    </ion-item>   
    <div *ngIf="!adsForm.controls['rate'].valid && adsForm.controls['rate'].touched">        
        <span *ngIf="adsForm.controls['rate'].hasError('required')" class="error-message">Rate is Required</span>
      <span *ngIf="adsForm.controls['rate'].hasError('pattern')" class="error-message">Rate is Invalid</span>
    </div>

<ion-item>
      <ion-label class="required">Currency</ion-label>
      <ion-select formControlName="currency" name="currency">
        <ion-option value="USD United States Dollars">USD United States Dollars</ion-option>
        <ion-option value="EUR Euro">EUR Euro</ion-option>
        <ion-option value="CAD Canada Dollars">CAD Canada Dollars</ion-option>
        <ion-option value="GBP United Kingdom Pounds">GBP United Kingdom Pounds</ion-option>
        <ion-option value="DEM Germany Deutsche Marks">DEM Germany Deutsche Marks</ion-option>
        <ion-option value="FRF France Francs">FRF France Francs</ion-option>
        <ion-option value="JPY Japan Yen">JPY Japan Yen</ion-option>
      </ion-select>
</ion-item>

<ion-item>
      <ion-label class="required">Posting Date</ion-label>
      <ion-datetime displayFormat="MMM DD YYYY" formControlName="postDate" name="postDate"></ion-datetime>
</ion-item>
     

  <ion-item>
    <ion-label class="required" class="required">Latest Picture</ion-label>
      <img [src]="base64Image" *ngIf="base64Image" />
</ion-item>

</ion-list>
  
    <div>
       <button (click)="addAds()" ion-button color="primary" [disabled]="!adsForm.valid" block>Post Your Ads</button>
    </div>
   
  </form>
</ion-content>