<ion-header>

  <ion-navbar>
    <ion-title>registration</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form [formGroup]="regForm">
  <ion-list>

    <ion-item>
      <ion-label stacked class="required" >Name</ion-label>
      <ion-input formControlName="name" type="text" autofocus></ion-input>
    </ion-item>

      <div *ngIf="name.hasError('required') && name.touched"
            class="error-box" danger>* Name is required!</div>
      <div *ngIf="name.hasError('minlength') && name.touched"
            class="error-box">* Minimum Name length is 3!</div>

    <ion-item>
      <ion-label stacked class="required" >Email</ion-label>
      <ion-input formControlName="email"  type="email"></ion-input>
    </ion-item>
      <div *ngIf="email.hasError('required') && email.touched"
            class="error-box" danger>* Email is required!</div>
      <div *ngIf="email.hasError('minlength') && email.touched"
            class="error-box">* Minimum email length is 3!</div>
      <div *ngIf="email.hasError('pattern') && email.touched"
            class="error-box">*Email is Invalid!</div>


    <ion-item>
      <ion-label stacked  class="required" >Password</ion-label>
      <ion-input formControlName="password"  type="password"></ion-input>
    </ion-item>
      <div *ngIf="password.hasError('required') && password.touched"
            class="error-box" danger>* Password is required!</div>
      <div *ngIf="password.hasError('minlength') && password.touched"
            class="error-box">* Minimum Password length is 8!</div>

    <ion-item>
      <ion-label stacked class="required" >Confirm Password</ion-label>
      <ion-input formControlName="password_match" type="password"></ion-input>
    </ion-item>
      <div *ngIf="password_match.hasError('required') && password_match.touched && password_match"
            class="error-box" danger>* Repeat Your Password !</div>
  

  </ion-list>

    <button (click)="register()" ion-button color="primary" [disabled]="!regForm.valid" block>Register</button>
  </form>
</ion-content>
