page-home {
    position: relative;
    .map-wrapper{
        height: 100%;
        width: 100%;
    }
    
    p{
        font-size: 20px;
        padding-left: 25px;
        font-weight: 800px;
    }
}
