<!--<ion-header>
  <ion-navbar>
    <button ion-button menuToggle style="font-size:90px;">
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>Home</ion-title>
    <ion-buttons end>
      <button ion-button (click) = "map.centerLocationf()">
        <ion-icon name="navigate"></ion-icon>
      </button>
      <button ion-button (click) = "map.showModal()">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon ios="ios-funnel" md="md-funnel"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>-->

<ion-header>
  <ion-navbar no-border-bottom color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    
        <p style="color:yellow;">Home</p>
     
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon ios="ios-options-outline" md="md-options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <!-- <ion-toolbar no-border-top>
    <ion-searchbar color="primary"
                   [(ngModel)]="queryText"
                   (ionInput)="updateSchedule()"
                   placeholder="Search">
    </ion-searchbar> -->

   
</ion-header>

<ion-content #popoverContent>
  <div class="map-wrapper">
     <map #map></map>
  </div>
</ion-content>
