<!--
  Generated template for the Map component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->

<div class="wrapper">
  <div class="top search">
     <ion-searchbar 
        (click) = "showModal()"
        [(ngModel)]="address.place"  
        placeholder="Search in Map and select ...">
    </ion-searchbar>
  </div>
<div id="map"></div>

<div class="bottom request-controls">
    <ion-row>
      <ion-col></ion-col>
      <ion-col></ion-col>
      <ion-col></ion-col>
      <ion-col></ion-col>
      <ion-col></ion-col><ion-col (click) = "centerLocationf()">
          <button ion-fab fab-right small><ion-icon name="locate" style="float:right;size:5px !important;"></ion-icon></button>
      </ion-col>
    
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button full (click)="postAds()">Tap and Post Your Ads Here</button>
      </ion-col>
    </ion-row> 
  </div>
</div>
