<!--
  Generated template for the Adsdetail page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header>

  <ion-navbar>
    <ion-title>adsdetail</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-card>
  <ion-card-header>
    Type
  </ion-card-header>
  <ion-card-content>
    {{ad.type}}
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    Title
  </ion-card-header>
  <ion-card-content>
    {{ad.title}}
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    Description
  </ion-card-header>
  <ion-card-content>
    {{ad.description}}
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    Owner
  </ion-card-header>
  <ion-card-content>
    {{ad.owner_user_ID}}
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    Units Available
  </ion-card-header>
  <ion-card-content>
    {{ad.units_available}}
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    Start time
  </ion-card-header>
  <ion-card-content>
    {{ad.start_time}}
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    End Time
  </ion-card-header>
  <ion-card-content>
    {{ad.end_time}}
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    Ad Duration
  </ion-card-header>
  <ion-card-content>
    {{ad.ad_duration}}
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    Ad Duration
  </ion-card-header>
  <ion-card-content>
    {{ad.rate}}
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    Curreny
  </ion-card-header>
  <ion-card-content>
    {{ad.currency}}
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
   scale
  </ion-card-header>
  <ion-card-content>
    {{ad.scale}}
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
   Length
  </ion-card-header>
  <ion-card-content>
    {{ad.length}}
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
   Width
  </ion-card-header>
  <ion-card-content>
    {{ad.width}}
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
   Height
  </ion-card-header>
  <ion-card-content>
    {{ad.height}}
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
   Elevation
  </ion-card-header>
  <ion-card-content>
    {{ad.elevation}}
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
   Illumination
  </ion-card-header>
  <ion-card-content>
    {{ad.illuminated}}
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
   license_copy
  </ion-card-header>
  <ion-card-content>
    {{ad.license_copy}}
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
   Geolocation
  </ion-card-header>
  <ion-card-content>
    <p>Lattittude: {{ad.lat}}</p>
    <p>Longitude: {{ad.lng}}</p>

  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
   Post Date
  </ion-card-header>
  <ion-card-content>
    {{ad.postDate}} 
  </ion-card-content>
</ion-card>
<ion-card>
<ion-card-header>
   Photos
  </ion-card-header>
  <ion-card-content>
    <img [src]="ad.photos" *ngIf="ad.photos" />
  </ion-card-content>
</ion-card>
</ion-content> -->
<ion-header>
  <ion-navbar>
    <ion-title>{{ad.type}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card>
    <img [src]="ad.photos" *ngIf="ad.photos"  style="height:350px;"/>
    <ion-fab right top color="primary">
    <button ion-fab>
      <ion-icon name="pin"></ion-icon>
    </button>
    </ion-fab>
    <ion-card-content>
      <h2 class="card-title">
        {{ad.title}}
      </h2>
      <p>
        {{ad.description}}
      </p>
    </ion-card-content>

    <ion-item>
      <ion-icon name='musical-notes' style="color: #d03e84"></ion-icon>
      Units Avaialable
      <ion-badge item-right>{{ad.units_available}}</ion-badge>
    </ion-item>

    <ion-item>
      <ion-icon name='logo-twitter' style="color: #55acee"></ion-icon>
      Published date: 
      <ion-badge item-right>{{ad.postDate}}</ion-badge>
    </ion-item>
    <ion-item>
      <ion-icon name='logo-twitter' style="color: #55acee"></ion-icon>
      Dimensions
      <ion-badge item-right>{{ad.length}}<span>{{ad.scale}}</span><span>*</span>{{ad.width}}<span>*</span>{{ad.height}}<span>*</span>
      </ion-badge>
    </ion-item>

  </ion-card>

</ion-content>
