<!--
  Generated template for the ModalAutoComplete component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->

<!--<ion-header>
  <ion-toolbar>
    <ion-title>
      Search Place
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->
<ion-content> 
  <br>
    <ion-searchbar #input
        [(ngModel)]="autocomplete.query" 
        [showCancelButton]="true" 
        (ionInput)="updateSearch()"
        (ionCancel)="dismiss()" 
        placeholder="Search in Map and select ...">
    </ion-searchbar>
    <ion-list inset>
        <ion-item *ngFor="let item of autocompleteItems" 
            (click)="chooseItem(item)">
            <ion-icon name='pin' item-left style="color: #55acee"></ion-icon>
            <!--<ion-icon name="pin" small class="pin"></ion-icon>-->
              {{ item.description }}
        </ion-item>
    </ion-list>
</ion-content> 
