map {
    .wrapper{
        position: relative;
        width: 100%;
        height: 100%;
    }
    /*top{
        position: absolute;
        top: 0px;
        width: 100%;
        z-index: 99;
    }*/
    .search{
        text-align: center;
    }
    .bottom{
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    .fab{
        background-color: white;
        width: 40px;
        height: 40px;
        text-align: center;
    }
    .fab ion-icon{
        color: grey;
    }
    .request-controls{
        text-align: center;
        background: linear-gradient(transparent, map-get($colors,lightcoral)); 
    }
    #map{
        width: 100%;
        height: 100%;
    }
}
