<!--
  Generated template for the Start page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

 <!-- <ion-navbar>
    <ion-title>start</ion-title>
  </ion-navbar> -->

</ion-header>


<ion-content padding>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col width=50>
        <button (click)="launchLogin()"  ion-button full>Login</button>
      </ion-col>
      <ion-col width=50>
        <button (click)="launchRegistration()"  ion-button full>Register</button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>